
<div class="card" style="max-width: 50rem; width: 1000px; height: 500px; margin: 0 auto">
  <div class="card-header" style="text-align: center"><h2>Еда</h2></div>
  <div class="card-border">
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [model]="model" [fields]="fields">
        <h2>В наличии: {{ food_amount }} грн.</h2>
        <h2>Всего потрачено: {{ total_waste }} грн.</h2>
        <h2>Остаток: {{ remainder }} грн.</h2>
        <button class="btn btn-primary btn-lg" [disabled]="!form.valid || model.daily_waste > remainder" type="submit">Подтвердить</button>
        <div class="alert alert-danger" *ngIf="title" style="text-align: center; width: 60%; margin-left: auto; margin-right: auto" role="alert">
          <i  class="fa fa fa-exclamation-triangle"></i>
          {{title}}
        </div>
      </formly-form>
    </form>
  </div>
</div>
