<div class="card" style="max-width: 50rem; width: 1000px; height: 500px; margin: 0 auto">
  <div class="card-header" style="text-align: center"><h2>Бытовуха</h2></div>
  <div class="card-border">
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [model]="model" [fields]="fields">
        <h2>В наличии: {{ communal_amount }} грн.</h2>
        <h2>Всего потрачено: {{ total_waste }} грн.</h2>
        <h2>Остаток: {{ remainder }} грн.</h2>
        <button class="btn btn-primary" type="submit">Подтвердить</button>
      </formly-form>
    </form>
  </div>
</div>
