<div class="card" style="max-width: 50rem; width: 1000px; height: 500px; margin: 0 auto">
  <div class="card-header" style="text-align: center"><h2>Транспорт</h2></div>
  <div class="card-border">
    <form [formGroup]="formGroup" (validSubmit)="onSubmit3()">
      <div class="form-group">
        <label class="control-label" for="transportdata"></label>
        <input class="form-control form-control-lg" formControlName="transportData" id="transportdata" name="transportdata" type="number" placeholder="Сколько вы потратили за сегодня?">
      </div>
      <button class="btn btn-primary" type="submit">Подтвердить</button>
    </form>
  </div>
</div>
