<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" style="margin: 20px">
    <button type="button" class="btn btn-dark" [routerLink]="['./food-waste']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Еда</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./communal-waste']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Бытовуха</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./transport-waste']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Транспорт</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./other-waste']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Прочее</button>
  </div>
</div>

<router-outlet></router-outlet>
