<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" style="margin: 10px">
    <button type="button" class="btn btn-dark" [routerLink]="['./food-waste']">Еда</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./communal-waste']">Бытовуха</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./transport-waste']">Транспорт</button>
    <button type="button" class="btn btn-dark" [routerLink]="['./other-waste']">Прочее</button>
  </div>
</div>

<router-outlet></router-outlet>
